body {
  background-color: gray;
  font-family: "Lora", serif;
  border: none;
}

a {
    color:#6711b7;
}

.weather-app {
  background: #e3e3e3;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(81, 80, 82, 0.712);
  border-radius: 25px grey ;
  padding: 30px ;
}

.weather-app :hover{
  cursor: pointer;
}

header{
    border-bottom: 1px solid rgba(128, 128, 128, 0.703);
    color: #fff;
    padding: 30px;
    margin-top: -25px;
}

.input-text {
  background-color: gray;
  color: #fff;
  border: none;
  border-radius: 6px;
  width: 60%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-input {
  background-color: #fff;
  color: gray;
  padding: 15px 20px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
}

main{
    padding: 100px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  margin-top: -100px;
  margin-left:-100px ;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-details {
  font-size: 16px;
  color: rgb(0, 0, 0);
  line-height: 20px;
  font-weight: 500;
  margin-left: -100px;
  margin-top: 0px;
}

.weather-app-details strong {
  color: gray;
}

.weather-icon-temperature {
  display: flex;
  margin-top: -100px;
}

.weather-icon {
  width: 88px;
  height: 88px;
  margin-top: -40px;
}

.weather-temperature {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
  margin-top: -80px;
}

.weather-app-unit {
  margin-top: 9px;
  font-size: 28px;
  margin-top: -80px;
}

.weather-forecast {
  display:flex;
  justify-content:space-around;
  margin-top: -200px;
  font-family: "Lora", serif;

}

.weather-forecast-date {
  text-align: center;
  color: rgb(3, 3, 3);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  font-size: 28px;
  text-align: center;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #000;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

footer {
  border-top: 1px solid gray;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}